# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/

# Build output
dist
dist-ssr
build/Release
coverage
*.lcov
.nyc_output
.next
out
.nuxt
.vuepress/dist
.temp
.svelte-kit/
**/.vitepress/dist
.docusaurus
.serverless/

# Cache
.npm
.eslintcache
.stylelintcache
.cache
.parcel-cache
.firebase/
.fusebox/
web_modules/

# Environment files
.env
.env.*
!.env.example
*.local

# TypeScript
*.tsbuildinfo

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.vscode-test
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Yarn v3
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Vite logs files
vite.config.js.timestamp-*
vite.config.ts.timestamp-*